---
import type { GetStaticPaths } from "astro";
import { controllers } from "../variants";
export const getStaticPaths = (() => {
  return controllers.map((controller) => ({
    params: {
      slug: controller.getSlug(),
    },
    props: {
      name: controller.getName(),
    },
  }));
}) satisfies GetStaticPaths;
const { slug } = Astro.params;
const { name } = Astro.props;
---

<!doctype html>
<html>
  <head></head>
  <body>
    <a href="/">&lt; Back</a>
    <h1>{name}</h1>
    <div>
      <button id="newGameBtn">New Game</button>
      <button id="aiBtn">Play with Bot</button>
      <button id="undoBtn">Undo</button>
      <button id="redoBtn">Redo</button>
    </div>
    <div>
      <canvas data-slug={slug}></canvas>
    </div>
    <script>
      import { start } from "../variants";
      start();
    </script>
  </body>
</html>
