---

---

<!doctype html>
<html>
  <head></head>
  <body>
    <ol>
      <li><a href="/vanilla">Vanilla</a></li>
      <li><a href="/koth">King of the Hill</a></li>

      <!-- Change the win condition -->
      <li><a href="/">Racing Kings</a></li>
      <li><a href="/">Three Check</a></li>

      <!-- Change the board -->
      <li><a href="/">960</a></li>
      <li><a href="/">Horde</a></li>

      <!-- Change captures -->
      <li><a href="/">Atomic</a></li>

      <!-- Non-traditional rules -->
      <li><a href="/">Antichess</a></li>
      <li><a href="/">Crazy House</a></li>

      <li><a href="/">Double Movement</a></li>
      <li><a href="/">Triple Movement</a></li>
    </ol>
  </body>
</html>
