---
import { controllers } from "../variants";
---

<!doctype html>
<html>
  <head></head>
  <body>
    <h1>Chess Variants</h1>
    <h2>Done</h2>
    <ol>
      {
        controllers.map((controller) => (
          <li>
            <a href={`/${controller.getSlug()}`}>{controller.getName()}</a>
          </li>
        ))
      }
    </ol>
    <h2>Todo</h2>
    <ol>
      <!-- Change the win condition -->
      <li><a href="/">Racing Kings</a></li>

      <!-- Non-traditional rules -->
      <li><a href="/">Antichess</a></li>
      <li><a href="/">Crazy House</a></li>
    </ol>
  </body>
</html>
