---

---

<!doctype html>
<html>
  <head></head>
  <body>
    <ol>
      <li><a href="/vanilla">Vanilla</a></li>

      <li><a href="/">Crazy House</a></li>
      <li><a href="/">960</a></li>
      <li><a href="/">King of the Hill</a></li>
      <li><a href="/">Three Check</a></li>
      <li><a href="/">Antichess</a></li>
      <li><a href="/">Atomic</a></li>
      <li><a href="/">Horde</a></li>
      <li><a href="/">Racing Kings</a></li>

      <li><a href="/">Double Move</a></li>
      <li><a href="/">Triple Move</a></li>
    </ol>
  </body>
</html>
